//====================================================================================================
.blue-hero {
  position: relative;
  padding-top: 40px;
  @include adaptiveValue("padding-bottom", 175, 90, 0, 1240, 768);
  background-color: $blue-light;
  color: #fff;
  @media (max-width: $mobile) {
    padding-bottom: 0px;
  }
  // .blue-hero__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 73, 30, 0, 1240, 768);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .blue-hero__text-block
  &__text-block {
  }
  // .blue-hero__breadcrumbs
  &__breadcrumbs {
    @include adaptiveValue("margin-bottom", 17, 5);
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-direction: row-reverse;
      @include adaptiveValue("font-size", 16, 12);
      @include adaptiveValue("line-height", 18, 13);
      &::before {
        font-size: rem(8);
      }
      &:last-child {
        display: none;
        @media (max-width: $mobile) {
          display: block;
        }
      }
    }
  }
  // .blue-hero__title
  &__title {
    margin-bottom: rem(10);
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    @include adaptiveValue("line-height", 51, 33);
  }
  // .blue-hero__desc
  &__desc {
    @include adaptiveValue("font-size", 21, 14, 0, 1240, 479.98);
    @include adaptiveValue("line-height", 34, 20, 0, 1240, 479.98);
  }
  // .blue-hero__img-block
  &__img-block {
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $mobile) {
      justify-content: center;
    }
    img {
      max-width: 100%;
      @media (max-width: $mobile) {
        position: relative;
        z-index: 1;
      }
    }
  }
}
//====================================================================================================

.fun-fact {
  position: absolute;
  bottom: -100px;
  width: 100%;
  @media (max-width: $mobile) {
    background-color: #fff;
    bottom: -180px;
  }
  // .fun-fact__container
  &__container {
  }
  // .fun-fact__box
  &__box {
    padding: 50px 0;
    @include adaptiveValue("padding-right", 80, 20, 0, 1240, 768);
    @include adaptiveValue("padding-left", 80, 20, 0, 1240, 768);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: $blue-light;
    @include adaptiveValue("gap", 40, 25, 0, 1240, 768);
    @media (max-width: $mobile) {
      padding: 75px 0px 50px;
    }
  }
  // .fun-fact__item
  &__item {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    &:not(:last-child) {
      border-right: 1px solid rgba(0, 110, 255, 0.1);
      @include adaptiveValue("padding-right", 40, 25, 0, 1240, 768);
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }
  // .fun-fact__number
  &__number {
    @include adaptiveValue("font-size", 56, 40);
    @include adaptiveValue("line-height", 62, 44);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @include adaptiveValue("gap", 10, 5);
    @media (max-width: $mobile) {
      align-items: flex-start;
    }
    span {
      font-weight: normal;
      @include adaptiveValue("font-size", 34, 20);
      @include adaptiveValue("line-height", 37, 22);
    }
  }
  // .fun-fact__text
  &__text {
    @include adaptiveValue("font-size", 18, 12);
    @include adaptiveValue("line-height", 22, 14);
    @media (max-width: $mobile) {
      color: #5b5b5b;
      text-align: center;
    }
  }
}
//========================================================================================================================================================

.macbook {
  padding-top: 185px;
  @include adaptiveValue("padding-bottom", 50, 40);
  // .macbook__container
  &__container {
    display: flex;
    align-items: center;
    gap: 60px;
    @include adaptiveValue("gap", 60, 30, 0, 1240, 768);
    justify-content: center;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .macbook__img-block
  &__img-block {
    img {
      @include adaptiveValue("width", 492, 350, 0, 1240, 768);
    }
  }
  // .macbook__text-block
  &__text-block {
    @include adaptiveValue("width", 544, 360, 0, 1240, 768);
    @media (max-width: $mobile) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      @include adaptiveValue("font-size", 18, 14);
      @include adaptiveValue("line-height", 29, 20);
      margin-bottom: rem(8);
      &:not(:last-of-type) {
        @include adaptiveValue("margin-bottom", 30, 8, 0, 1240, 768);
        @media (max-width: $mobile) {
          margin-top: rem(24);
        }
      }
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
  }
  // .macbook__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 16, 14);
    @include adaptiveValue("line-height", 18, 15);
    color: $blue-light;
    margin-bottom: rem(8);
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .macbook__title
  &__title {
    @include adaptiveValue("font-size", 36, 22);
    @include adaptiveValue("line-height", 40, 24);
    margin-bottom: rem(8);
    font-weight: 700;
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: rem(24);
    }
  }
  // .macbook__list
  &__list {
    color: $blue-light;
    @media (max-width: $mobile) {
      text-align: center;
    }
    li {
      list-style: decimal;
      list-style-position: inside;
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
//========================================================================================================================================================

.steps {
  @include adaptiveValue("padding-bottom", 110, 70);
  @include adaptiveValue("padding-top", 50, 40);
  // .steps__container
  &__container {
  }
  // .steps__box
  &__box {
    position: relative;
    padding-top: 200px;
    @media (max-width: $mobile) {
      padding-top: rem(62);
    }
    .productpagina-steps__main-line-box {
      left: 50%;
      height: 100%;
      @media (max-width: $mobile) {
        display: none;
      }
      &::before {
        z-index: 1;
      }
      .productpagina-steps__main-ball {
        z-index: 3;
      }
    }
  }

  // .steps__item
  &__item {
    display: flex;
    gap: 95px;
    position: relative;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 115, 64);
    }
    @media (max-width: $mobile) {
      background-color: #fff;
      position: relative;
      z-index: 1;
      padding: 28px 0;
    }
    &.text-right {
      @media (min-width: $mobile) {
        .steps__text-block {
          text-align: left;
        }
        .steps__desc {
          margin-left: 0;
        }
        .steps__list {
          li {
            justify-content: flex-end;
          }
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: rem(22);
      height: rem(22);
      background: $blue-light;
      border-radius: 50%;
      top: 0;

      z-index: 2;
      left: 50%;
      transform: translate(-50%, 0);
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        width: rem(22);
        height: rem(22);
        background: $blue-light;
        border-radius: 50%;
        bottom: 0;

        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0);
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }
  // .steps__text-block
  &__text-block {
    width: 100%;
    text-align: right;
  }
  &__mobile-block {
    @media (max-width: $mobile) {
      display: flex;
      @include adaptiveValue("gap", 120, 30, 0, 768, 370);
      align-items: flex-start;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 8);
    }
  }
  &__mobile-text {
    flex: 0 1 65%;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  // .steps__title
  &__title {
    font-weight: 700;
    color: #000;
    @include adaptiveValue("font-size", 36, 30);
    @include adaptiveValue("line-height", 40, 33);
    @include adaptiveValue("margin-bottom", 35, 25);
  }
  // .steps__sub-title
  &__sub-title {
    font-weight: 700;
    color: #000;
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("line-height", 25, 24);
    @include adaptiveValue("margin-bottom", 12, 8);
  }
  // .steps__desc
  &__desc {
    color: #141414;
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("line-height", 23, 24);
    margin-left: auto;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .steps__button
  &__button {
    padding: 14px 21px;
    @media (max-width: $mobile) {
      width: 100%;
      text-align: center;
    }
  }
  // .steps__list
  &__list {
    @include adaptiveValue("margin-top", 34, 28);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    @media (max-width: 420px) {
      flex-direction: column;
    }
    li {
      width: calc(50% - 8px);
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      color: $blue-light;
      font-weight: 700;
      font-size: rem(14);
      line-height: math.div(15, 14);
      cursor: pointer;
      &::before {
        font-size: rem(8);
        @media (max-width: $mobile) {
          font-size: rem(15);
        }
      }
      @media (max-width: $mobile) {
        flex-direction: row;
        gap: 12px;
      }
      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }
  // .steps__img-block
  &__img-block {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      flex: 0 1 35%;
    }
    img {
      @media (max-width: $mobile) {
        @include adaptiveValue("width", 170, 115, 0, 768, 370);
      }
    }
  }
}
//========================================================================================================================================================

.services {
  @include adaptiveValue("padding-top", 115, 70);
  @include adaptiveValue("padding-bottom", 366, 60, 0, 1240, 768);
  background-color: $blue-light;
  // .services__container
  &__container {
  }
  // .services__title
  &__title {
    font-weight: 700;
    color: #fff;
    @include adaptiveValue("font-size", 46, 30);
    @include adaptiveValue("line-height", 51, 33);
    margin-bottom: rem(8);
    text-align: center;
  }
  // .services__subtitle
  &__subtitle {
    text-align: center;
    color: #fff;
    @include adaptiveValue("font-size", 24, 14);
    @include adaptiveValue("line-height", 38, 24);
    @include adaptiveValue("margin-bottom", 50, 30);
  }
  // .services__box
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 40px;
    }
  }
  // .services__item
  &__item {
    background-color: #fff;
    @include adaptiveValue("padding-top", 35, 20, 0, 1240, 768);
    padding-bottom: 35px;
    @include adaptiveValue("padding-left", 35, 15, 0, 1240, 768);
    @include adaptiveValue("padding-right", 35, 15, 0, 1240, 768);
    position: relative;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 40, 0, 0, 1240, 768);
    &:last-child {
      @include adaptiveValue("padding-top", 50, 38);
      @include adaptiveValue("padding-bottom", 50, 20);
      @media (max-width: $mobile) {
        padding-bottom: 0;
      }
    }
    @media (max-width: $mobile) {
      width: rem(460);
      gap: 30px;
      padding: 20px 25px 0px;
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  &__item-show-more {
    display: none;
    cursor: pointer;
    padding: 17px 0px;
    border-top: 0.5px solid #a0a0a0;
    text-align: center;
    font-weight: 700;
    font-size: rem(14);
    line-height: math.div(15, 14);
    color: $blue-light;
    margin: 0 -25px;
    &::before {
      transform: rotate(90deg);
      font-size: rem(8);
    }
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 5px;
    }
  }
  &__item-top {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item-bottom {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex: content;
    }
  }
  // .services__item-subtitle
  &__item-subtitle {
    color: $blue-light;
    @include adaptiveValue("font-size", 16, 13, 0, 1240, 768);
    @include adaptiveValue("line-height", 18, 15);
    margin-bottom: rem(8);
  }
  // .services__item-title
  &__item-title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 22);
    @include adaptiveValue("line-height", 40, 24);
    @media (max-width: $mobile) {
      margin-bottom: rem(20);
    }
  }
  // .services__item-list
  &__item-list {
    @media (max-width: $mobile) {
      overflow: hidden;
      max-height: 0;
      transition:
        max-height 0.5s ease-in-out,
        margin-bottom 0.6s ease-in-out;

      &.show {
        max-height: 1000px;
        margin-bottom: rem(15);
      }
    }
    li {
      @include adaptiveValue("font-size", 16, 14);
      @include adaptiveValue("line-height", 22, 20);
      padding-top: 10px;
      &:not(:last-child) {
        border-bottom: 0.5px solid #a0a0a0;
        padding: 10px 0;
      }
    }
  }
  // .services__item-list-title
  &__item-list-title {
    font-weight: 700;
  }
  // .services__item-button
  &__item-button {
    width: 100%;
    padding: 22px 0;
  }
  // .services__item-tip
  &__item-tip {
    position: absolute;
    top: -16.5px;
    right: 45px;
    font-weight: 700;
    font-size: rem(14);
    line-height: math.div(15, 14);
    padding: 9px 13px;
    background: #020202;
    color: #fff;
  }
  // .services__img-leaf
  &__img-leaf {
    position: absolute;
    top: -150px;
    @include adaptiveValue("right", 10, -70, 0, 1240, 768);
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
//========================================================================================================================================================

.ovner {
  position: relative;
  @include adaptiveValue("margin-top", -200, -30, 0, 1240, 768);
  @media (max-width: $mobile) {
    margin-top: rem(0);
  }
  // .ovner__container
  &__container {
  }
  &__box {
    background-color: #fff;
    padding: 65px 0px;
    @include adaptiveValue("padding-left", 105, 30, 0, 1240, 768);
    @include adaptiveValue("padding-right", 105, 30, 0, 1240, 768);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.04);
    @media (max-width: $mobile) {
      justify-content: center;
      padding: 65px 0px;
      box-shadow: none;
      border-bottom: 0.5px solid #a0a0a0;
    }
  }
  // .ovner__text-block
  &__text-block {
    color: #020202;
    @include adaptiveValue("max-width", 545, 390, 0, 1240, 768);
    @media (max-width: $mobile) {
      max-width: rem(545);
    }
  }
  // .ovner__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 32, 22);
    @include adaptiveValue("line-height", 35, 24);
    margin-bottom: rem(25);
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .ovner__desc
  &__desc {
    @include adaptiveValue("font-size", 18, 16);
    @include adaptiveValue("line-height", 29, 24);
    margin-bottom: rem(8);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .ovner__autor
  &__autor {
    font-size: rem(14);
    line-height: math.div(22, 14);
    @include adaptiveValue("margin-bottom", 30, 20);
    span {
      font-weight: 700;
    }
    @media (max-width: $mobile) {
      text-align: center;
      margin-top: rem(18);
    }
  }
  // .ovner__button
  &__button {
    padding: 14px 23px;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .ovner__contacts
  &__contacts {
    @include adaptiveValue("margin-top", 14, 20);
    display: flex;
    gap: 20px;
  }
  // .ovner__contacts-title
  &__contacts-title {
    font-size: rem(14);
    line-height: math.div(22, 14);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .ovner__contacts-items
  &__contacts-items {
    font-weight: 700;
    font-size: rem(14);
    line-height: math.div(15, 14);
    @media (max-width: $mobile) {
      text-align: center;
      width: 100%;
    }
    li {
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
      &:last-child {
        a {
          text-decoration: underline;
        }
      }
    }
  }
  // .ovner__img-block
  &__img-block {
    position: relative;
    @include adaptiveValue("min-width", 295, 240, 0, 1240, 768);
    min-width: rem(295);
    @include adaptiveValue("height", 370, 300, 0, 1240, 768);
    @media (max-width: $mobile) {
      @include adaptiveValue("height", 347, 280, 0, 767.98, 375);
      @include adaptiveValue("min-width", 295, 240, 0, 767.98, 375);
    }
  }
  &__img-ovner {
    position: absolute;
    top: 12%;
    @include adaptiveValue("right", 33, 27, 0, 1240, 768);
    @include adaptiveValue("width", 230, 187, 0, 1240, 768);
    @include adaptiveValue("height", 326, 265, 0, 1240, 768);
    @media (max-width: $mobile) {
      @include adaptiveValue("width", 230, 187, 0, 767.98, 375);
      @include adaptiveValue("height", 326, 265, 0, 767.98, 375);
      @include adaptiveValue("right", 33, 27, 0, 767.98, 375);
      top: 5%;
    }
  }
  &__img-border {
    position: absolute;
    top: 7%;
    right: 0;
    @include adaptiveValue("width", 295, 240, 0, 1240, 768);
    @media (max-width: $mobile) {
      top: 0;
      @include adaptiveValue("width", 295, 240, 0, 767.98, 375);
    }
  }
  &__img-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
//========================================================================================================================================================

.beheren-slider {
  @include adaptiveValue("padding-top", 115, 60);
  @include adaptiveValue("padding-bottom", 110, 60);
  // .beheren-slider__container
  &__container {
  }
  // .beheren-slider__title
  &__title {
    margin-bottom: rem(8);
    text-align: center;
    font-weight: 700;
    color: #000;
    @include adaptiveValue("font-size", 32, 24);
    @include adaptiveValue("line-height", 35, 26);
  }
  // .beheren-slider__subtitle
  &__subtitle {
    color: #141414;
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("line-height", 29, 20);
    text-align: center;
    @include adaptiveValue("max-width", 564, 273);
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 48, 19);
  }
  // .beheren-slider__slider
  &__slider {
    padding: 50px;
    margin: -50px;
  }
  // .beheren-slider__wrapper
  &__wrapper {
  }
  // .beheren-slider__slide
  &__slide {
    -webkit-filter: drop-shadow(0px 24px 20px rgba(0, 0, 0, 0.04));
    filter: drop-shadow(0px 24px 20px rgba(0, 0, 0, 0.04));
    text-align: center;
    padding: 35px 30px 38px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: rem(380);
    @media (max-width: $mobile) {
      padding: 24px 26px 34px;
      text-align: left;
    }
    @media (max-width: $mobileSmall) {
      max-width: rem(270);
    }
  }
  // .beheren-slider__slide-subtitle
  &__slide-subtitle {
    @include adaptiveValue("font-size", 16, 14);
    @include adaptiveValue("line-height", 18, 15);
    margin-bottom: rem(8);
    font-weight: 700;
    color: #000;
  }
  // .beheren-slider__slide-title
  &__slide-title {
    color: $blue-light;
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 20);
    @include adaptiveValue("line-height", 24, 22);
    padding-bottom: 25px;
    border-bottom: 0.5px solid #a0a0a0;
    @include adaptiveValue("margin-bottom", 23, 16);
    @media (max-width: $mobile) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  // .beheren-slider__slide-text
  &__slide-text {
    font-size: rem(16);
    line-height: math.div(22, 16);
    @include adaptiveValue("margin-bottom", 27, 20);
  }
  // .beheren-slider__slide-button
  &__slide-button {
    width: rem(260);
    padding: 22px 0px;
    @media (max-width: $mobile) {
      padding: 14px 0;
      width: 100%;
    }
  }
}
