// Заголовки, общие БЄМ блоки и проче...

.blue-button {
  color: #FFFFFF;
  font-weight: 700;
  @include adaptiveValue("font-size", 15, 12);
    @include adaptiveValue("line-height", 17, 13);
    background-color: $blue-light;
    display: inline-block;
    text-align: center; 

    @media (any-hover: hover){
      &:hover{
        background-color: $mainColor;
        transition: all 0.3s ease 0s;
      }
    }
}
.black-button {
  color: #FFFFFF;
  font-weight: 700;
  @include adaptiveValue("font-size", 15, 12);
    @include adaptiveValue("line-height", 17, 13);
    background-color: $mainColor;
    display: inline-block;
    text-align: center; 

    @media (any-hover: hover){
      &:hover{
        background-color: #020202;
        transition: all 0.3s ease 0s;
      }
    }
}
.white-button {
  color: $blue-light;
  font-weight: 700;
  @include adaptiveValue("font-size", 15, 12);
    @include adaptiveValue("line-height", 17, 13);
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center; 
    @media (any-hover: hover){
      &:hover{
        color: #FFFFFF;
        background-color: #020202;
        transition: all 0.3s ease 0s;
      }
    }
}
.blue-text {
  color: $blue-light;
}

.rotated {
  transform: rotate(270deg) !important;
}

.rotated-arrow {
  &::before{
    transform: rotate(270deg) !important;
  }
}

//Disables block display
.dnone{
  display: none !important;
}

//Disables block display at resolution less than 767.98px
.dnone-mobile{
@media (max-width:$mobile){
   display: none !important; 
}
}

.text-right{
  flex-direction: row-reverse !important;
}

.text-left{
flex-direction: row !important;
}
.blue-number{
  color: #FFFFFF;
  background-color: $blue-light;
  width: 42px;
    display: inline-block;
}
.nieuw{
  margin-left: 10px;
          color: #ffffff;
          font-size: rem(10);
          font-weight: 400;
          line-height: math.div(11, 10);
          padding: 5px 7px;
          background: #f96023;
}