.client-header {
  padding-top: 100px;
  padding-bottom: 180px;
  // .client-header__container
  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 100, 20);
    justify-content: center;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .client-header__left
  &__left {
  }
  // .client-header__breadcrumb
  &__breadcrumb {
    color: $blue-light;
    margin-bottom: rem(8);
    @include adaptiveValue("font-size", 16, 14);
    line-height: 110%;
    display: inline-block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .client-header__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    line-height: 110%;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .client-header__right
  &__right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .client-header__item
  &__item {
    width: calc(50% - 15px);
  }
  // .client-header__number
  &__number {
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    line-height: 110%;
    color: $blue-light;
    margin-bottom: rem(8);
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
    }
    span {
      font-weight: 400;
      @include adaptiveValue("font-size", 18, 14);
      align-self: flex-end;
      line-height: 110%;
    }
  }
  // .client-header__number-text
  &__number-text {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 110%;
    text-align: center;
  }
}
//========================================================================================================================================================

.client-bg {
  padding-bottom: 160px;
  display: flex;
  // .client-bg__img-desktop
  &__img {
    width: 100%;

    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      z-index: 1;
      position: relative;
      object-fit: cover;
    }
  }
  &__img-desktop {
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .client-bg__img-mobile
  &__img-mobile {
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
  }
  &__wrap {
    margin-left: -100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  // .client-bg__container
  &__container {
    width: 100%;
  }
  // .client-bg__text
  &__text {
    padding: 64px 0;
    color: #fff;
    max-width: rem(500);
  }
  // .client-bg__review
  &__review {
    @include adaptiveValue("font-size", 36, 26);
    line-height: 110%;
    margin-bottom: rem(20);
    font-weight: 700;
  }
  // .client-bg__client
  &__client {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  // .client-bg__client-photo
  &__client-photo {
    max-width: rem(70);
    max-height: rem(70);
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  // .client-bg__client-name
  &__client-name {
    line-height: 160%;
    @include adaptiveValue("font-size", 18, 14);
  }
}
//========================================================================================================================================================

.client-review {
  padding-bottom: 160px;
  // .client-review__container
  &__container {
  }
  &__text-box {
    text-align: center;
    max-width: rem(720);
    margin: 0 auto;
  }
  // .client-review__subtitle
  &__subtitle {
    color: $blue-light;
    margin-bottom: rem(8);
    @include adaptiveValue("font-size", 16, 14);
    line-height: 110%;
  }
  // .client-review__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    line-height: 110%;
    margin-bottom: rem(20);
  }
  // .client-review__text
  &__text {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
    @include adaptiveValue("padding-bottom", 80, 40);
  }
  .full-video__text {
    max-width: rem(450);
  }
}
//========================================================================================================================================================

.client-scroll {
  padding-bottom: 160px;
  // .client-scroll__container
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__left {
    position: relative;
    @include adaptiveValue("width", 430, 340, 0, 1240, 768);
    @media (max-width: $mobile) {
      width: 100%;
      text-align: center;
    }
  }
  // .client-scroll__moving-block
  &__moving-block {
    position: sticky;
    top: 20vh;
  }
  // .client-scroll__moving-block-subitile
  &__moving-block-subitile {
    color: $blue-light;
    margin-bottom: rem(8);
    @include adaptiveValue("font-size", 16, 14);
    line-height: 110%;
  }
  // .client-scroll__moving-block-title
  &__moving-block-title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 30);
    line-height: 110%;
  }
  // .client-scroll__right
  &__right {
    width: 50%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .client-scroll__item
  &__item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -130px;
      width: 22px;
      height: 22px;
      background: #006eff;
      border-radius: 50%;
      z-index: 1;
      @media (max-width: 1240px) {
        display: none;
      }
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -130px;
        width: 22px;
        height: 22px;
        background: #006eff;
        border-radius: 50%;
        z-index: 1;
        @media (max-width: 1240px) {
          display: none;
        }
      }
    }
    &:not(:last-child) {
      @include adaptiveValue("padding-bottom", 130, 45);
      background-color: #fff;
    }
  }
  // .client-scroll__right-title
  &__right-title {
    color: $blue-light;
    @include adaptiveValue("font-size", 32, 22);
    line-height: 110%;
    margin-bottom: rem(8);
    font-weight: 700;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .client-scroll__right-subtitle
  &__right-subtitle {
    @include adaptiveValue("font-size", 18, 16);
    line-height: 110%;
    margin-bottom: rem(20);
    font-weight: 700;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .client-scroll__right-text
  &__right-text {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
  }
  .productpagina-steps__main-line-box {
    @include adaptiveValue("left", 525, 450, 0, 1240, 991.98);
    @media (max-width: 1240px) {
      display: none;
    }
  }
  .productpagina-steps__main-ball {
    z-index: 2;
    top: 20vh;
  }
}
//========================================================================================================================================================

.client-images {
  padding-bottom: 160px;
  // .client-images__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @media (max-width: $mobile) {
      gap: 16px;
    }
  }
  &__img {
    width: calc(50% - 12px);
    @include adaptiveValue("height", 406, 155);
    &-full-width {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: $mobile) {
      width: calc(50% - 8px);
    }
  }
}
//========================================================================================================================================================

.client-blue {
  margin-bottom: 160px;
  @media (max-width: $mobile) {
    background-color: $blue-light;
  }
  // .client-blue__container
  &__container {
  }
  &__wrap {
    background-color: $blue-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("padding-left", 105, 0);
    @include adaptiveValue("padding-right", 105, 0);
    @include adaptiveValue("padding-top", 65, 45);
    @include adaptiveValue("padding-bottom", 65, 45);
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  // .client-blue__left
  &__left {
    color: #fff;
    max-width: 500px;
  }
  // .client-blue__title
  &__title {
    @include adaptiveValue("font-size", 32, 22);
    line-height: 110%;
    font-weight: 700;
    margin-bottom: rem(20);
  }
  // .client-blue__text
  &__text {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
    margin-bottom: rem(30);
  }
  // .client-blue__button
  &__button {
  }
  // .client-blue__right
  &__right {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
//========================================================================================================================================================
.client-contact {
  padding-bottom: 160px;
  // .client-contact__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  // .client-contact__images
  &__images {
    max-width: rem(300);
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  // .client-contact__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    line-height: 110%;
    margin-bottom: 20px;
  }
  // .client-contact__text
  &__text {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
    margin-bottom: 30px;
  }
  // .client-contact__button
  &__button {
  }
}
