//====================================================================================================

.header {
  z-index: 101;
  // .header__top-block
  &__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      justify-content: center;
    }
  }
  // .header__top
  &__top {
    padding: 10px 25px;

    .active {
      display: flex;
    }
  }
  // .header__top-menu
  &__top-menu {
    display: none;
    transition: opacity 0.3s ease-in-out;
    align-items: center;
    padding-bottom: 40px;
    @include adaptiveValue("padding-top", 40, 10);
    @include adaptiveValue("gap", 125, 30, 0, 1240, 991.98);
    justify-content: center;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 45px;
    }
  }
  // .header__top-item
  &__top-item {
    display: flex;
    align-items: center;
    gap: 40px;
    @include adaptiveValue("gap", 40, 30, 0, 1240, 991.98);
    @media (max-width: $tablet) {
      gap: 15px;
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
  // .header__top-text
  &__top-text {
    max-width: rem(275);
    @media (max-width: $mobile) {
      width: 100%;
    }
    a {
      color: $blue-light;
      font-weight: 700;
      font-size: rem(12);
      line-height: math.div(17, 12);
    }
  }
  // .header__top-text-title
  &__top-text-title {
    color: #000;
    font-weight: 700;
    font-size: rem(21);
    line-height: math.div(23, 21);
    margin-bottom: rem(8);
    display: flex;
    align-items: center;
    gap: 5px;
    &::before {
      font-size: rem(16);
      color: #0469ff;
    }
  }
  // .header__top-text-desc
  &__top-text-desc {
    color: #020202;
    font-size: rem(12);
    line-height: math.div(14, 12);
    margin-bottom: rem(8);
  }
  // .header__top-img
  &__top-img {
    @include adaptiveValue("width", 295, 237, 0, 1240, 991.98);
    @media (max-width: $tablet) {
      width: rem(326);
    }
  }
  // .header__top-first
  &__top-first {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  // .header__top-first-title
  &__top-first-title {
    font-size: rem(12);
    line-height: math.div(14, 12);
    color: $gray;
    @media (max-width: $mobile) {
      font-weight: 700;
    }
  }
  // .header__top-first-button
  &__top-first-button {
    span {
      font-weight: 700;
      font-size: rem(12);
      line-height: math.div(14, 12);
      padding: 5px;
      background-color: #fff;
    }
    color: #006eff;

    display: flex;
    i {
      transform: rotate(90deg);
    }
  }
  // .header__top-second
  &__top-second {
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: $tablet) {
        gap: 8px;
        align-items: flex-start;
        flex-direction: column;
      }
      a {
        color: #5b5b5b;
        font-size: rem(12);
        line-height: math.div(14, 12);
        display: flex;
        align-items: center;
        gap: 5px;
        @media (max-width: $tablet) {
          font-size: rem(14);
          line-height: math.div(28, 14);
          color: $mainColor;
        }
        span {
          width: rem(5);
          height: rem(5);
          background: #006eff;
          box-shadow: 0px 0px 4px #0069ff;
          display: block;
          border-radius: 50%;
        }
      }
    }
  }
  // .header__bottom
  &__bottom {
    padding: 27px 25px;
    box-shadow: 0px -20px 24px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: $tablet) {
      padding: 15px 25px;
    }
  }
  // .header__item
  &__item-first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include adaptiveValue("gap", 50, 20, 0, 1240, 991.98);
  }
  &__item-second {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptiveValue("gap", 20, 10, 0, 1240, 991.98);
    @media (max-width: $tablet) {
      gap: 30px;
    }
  }
  // .header__logo
  &__logo {
    img {
      @include adaptiveValue("width", 183, 139);
    }
  }

  &__search-icon {
    padding: 10px;
    font-size: rem(14);
    color: #000;
    background: #f2f2f2;
    cursor: pointer;
  }

  &__search-input {
    opacity: 0;
    width: 0;
    padding: 0;
    font-size: rem(12);
    line-height: math.div(13, 12);
    color: #5b5b5b;
    background: #f2f2f2;
    border: none;
    outline: none;
    height: 34px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    right: 34px;
    @media (max-width: $tablet) {
      opacity: 1;
      width: 200px;
      padding: 0 27px;
      position: static;
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  &__search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }

  @media (min-width: $tablet) {
    .header__search-wrapper:hover .header__search-input,
    .header__search-input:focus {
      opacity: 1;
      @include adaptiveValue("width", 200, 150, 0, 1240, 991.98);
      padding: 0 27px;

      transition: all 0.3s ease-in-out;
    }
  }

  // .header__contact-button
  &__contact-button {
    color: #fff;
    font-size: rem(14);
    line-height: math.div(15, 14);
    font-weight: 700;
    padding: 9px 0;
    @include adaptiveValue("padding-left", 21, 11, 0, 1240, 991.98);
    @include adaptiveValue("padding-right", 21, 11, 0, 1240, 991.98);
    background: #006eff;
    &::before {
      display: none;
    }
    @media (max-width: $tablet) {
      color: #fff;
      background: #020202;
      width: 234px;
      padding: 14px 21px;
      font-size: rem(12);
      line-height: math.div(13, 12);
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      &::before {
        display: block;
        font-size: rem(10);
      }
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  // .header__lang
  &__lang {
    display: flex;
    align-items: center;
    padding: 9px 10px;
    background: #f2f2f2;
    gap: 13px;
    span {
      width: rem(1);
      height: rem(15);
      background-color: #141414;
      opacity: 0.1;
      display: block;
    }
    .active {
      font-weight: 700;
      color: #020202;
    }
    a {
      color: #5b5b5b;
      font-size: rem(12);
      line-height: math.div(14, 12);
    }
  }
  &__mobile-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  &__socials {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
      gap: 34px;
      align-items: center;
      justify-content: center;
      font-size: rem(24);
      color: #5b5b5b;
      order: 1;
      margin-top: rem(18);
      margin-bottom: rem(18);
    }
  }
  // .header__menu
  &__menu {
  }
}
.menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
  // .menu__body
  &__body {
    @media (max-width: $tablet) {
      display: none;
      width: 100%;
      position: fixed;
      left: 0;
      top: 119px;
      background: #fff;
      z-index: 20;
      padding: 20px 25px;
      border-top: 1px solid rgba(20, 20, 20, 0.1);
      gap: 90px;
      overflow: auto;
      height: calc(100% - 119px);
    }
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 50, 20, 0, 1240, 991.98);
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  // .menu__item
  &__item {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
  // .menu__submenu
  &__submenu {
    z-index: 50;
    display: none;
    border-top: 1px solid rgba(20, 20, 20, 0.1);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 0 25px;
    background: #fff;
    @include adaptiveValue("gap", 34, 16, 0, 1440, 991.98);
    @media (max-width: $tablet) {
      height: calc(100% - 120px);
      top: 120px;
      flex-direction: column;
      position: fixed;
      overflow: auto;
    }
  }
  &__submenu-item-sub {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    .menu__submenu-item-second {
      gap: 20px;
      width: rem(350);
      img{
        min-width: 125px;
      }
    }
    .menu__submenu-item-second-text {
      width: unset;
    }
    .menu__submenu-item-second-text-subtitle {
      font-size: rem(10);
      line-height: math.div(11 , 10);
      background: #F96023;
      padding: 5px 8px;
      color: #fff;
      display: inline-block;
      margin-bottom: rem(8);
    }
    .menu__submenu-item-second-text-title {
      font-size: rem(20);
      line-height: math.div(22 , 20);
    }
    .menu__submenu-item-second-text-button {
      font-weight: 700;
      font-size: rem(12);
      line-height: math.div(14 , 12);
      color: $blue-light;
    }
  }
  &__submenu-item-first {
  }
  &__submenu-title {
  }
  &__submenu-main-nav-back {
  }
  &__submenu-klantverhalen-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 140px;
    align-content: space-between;
    gap: 20px;
@include adaptiveValue("width", 800, 570, 0, 1240, 991.98);
li{
  @media (max-width:$tablet){
    width: 47%;
  }
  @media (max-width:$mobile){
     width: 100%; 
  }
}
@media (max-width:$tablet){
  max-height: unset;
  flex-direction: row;
  width: 100%;
  gap: 35px;
}
@media (max-width:$mobile){
   gap: 20px; 
}
  }
  &__submenu-nav-item-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    img{
width: rem(15);

    }
  }
  &__submenu-nav-link {
    font-weight: 700;
    @include adaptiveValue("font-size", 14, 13, 0, 1240, 991.98);
    line-height: math.div(15, 14);
    border-bottom: 1px solid transparent;
    &.active{
      border-bottom: 1px solid #006eff;
    }
    @media (any-hover: hover){
      &:hover{
        border-bottom: 1px solid #006eff;
      }
    }
    @media (max-width:$tablet){
      font-size: rem(22);
      line-height: math.div(26 , 22);
    }
  }
  // .menu__submenu-item
  &__submenu-item {
    padding: 40px 0;
    display: flex;
    @include adaptiveValue("gap", 180, 0, 0, 1440, 991.98);
    @media (max-width: $tablet) {
      width: 100%;
      padding: 0;
    }
    &:last-child {
    }
    &:first-child {
      border-right: 1px solid rgba(20, 20, 20, 0.1);
      padding: 40px 10px 40px 0;
      @media (max-width: $tablet) {
        border: none;
        padding: 30px 0 0;
      }
    }
  }
  // .menu__submenu-title
  &__submenu-title {
    color: $blue-light;
    font-size: rem(12);
    line-height: math.div(13, 12);
    margin-bottom: rem(10);
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__submenu-main-nav-back {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
      align-items: center;
      margin-bottom: rem(30);
      font-weight: 700;
      font-size: rem(14);
      line-height: math.div(28, 14);
      gap: 8px;
      &::before {
        transform: rotate(180deg);
        background: #0069ff;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        width: rem(33);
        height: 33px;
        font-size: rem(11);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  // .menu__submenu-main-nav
  &__submenu-main-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .active {
      .menu__submenu-main-nav-item {
        color: #020202;
      }
      ._icon-arrow-right {
        display: flex;
      }
    }
  }
  &__submenu-main-nav-item-wrap {
    display: flex;
    align-items: center;
    gap: 13px;
    img {
      width: rem(12);
    }
    &::before {
      color: $blue-light;
    }
  }
  &__submenu-main-nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(457);
    @include adaptiveValue("width", 457, 320, 0, 1440, 991.98);
    font-size: rem(24);
    line-height: math.div(26, 24);
    font-weight: 700;
    color: #5b5b5b;
    cursor: pointer;
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #020202;
        transition: all 0.3s ease 0s;
      }
    }
    ._icon-arrow-right {
      transition: transform 0.2s ease-in-out;
    }

    ._icon-arrow-right.open {
      @media (max-width: $tablet) {
        transform: rotate(180deg);
      }
    }
    i {
      color: #2c91ff;
      display: none;
      @media (max-width: $tablet) {
        font-weight: 700;
        width: rem(33);
        height: rem(33);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        &::before {
          color: #006eff;
          font-size: rem(11);
          transform: rotate(90deg);
        }
      }
    }
    span {
      @media (max-width: $tablet) {
        width: 80%;
      }
    }
  }
  // .menu__submenu-item-first
  &__submenu-item-first {
    @media (max-width: $tablet) {
      width: 100%;
      /* height: 100vh; */
      background-color: #fff;
    }
  }
  // .menu__submenu-sub-nav
  &__submenu-sub-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: rem(315);
    @media (max-width: $tablet) {
      width: 100%;
      margin-top: rem(20);
      display: none;
    }

    li {
      width: 50%;
      margin-bottom: rem(25);
      .active {
        border-bottom: 1px solid #006eff;
      }
      a {
        color: #020202;
        font-size: rem(14);
        font-weight: 700;
        line-height: math.div(15, 14);
        position: relative;
        @media (max-width: $tablet) {
          display: unset;
        }

        @media (any-hover: hover) {
          &:hover {
            border-bottom: 1px solid #006eff;
            transition: all 0.3s ease 0s;
          }
        }
        .activeSub {
          display: flex;
        }
      }
    }
  }
  // .menu__submenu-item-second
  &__submenu-item-second {
    display: flex;
    @include adaptiveValue("gap", 40, 20, 0, 1440, 991.98);
    align-items: center;
    @media (max-width: $tablet) {
      display: none;
    }
    img {
      min-width: rem(85);
    }
  }
  // .menu__submenu-item-second-text
  &__submenu-item-second-text {
    @include adaptiveValue("width", 169, 150, 0, 1440, 991.98);
  }
  // .menu__submenu-item-second-text-title
  &__submenu-item-second-text-title {
    color: #020202;
    font-size: rem(14);
    line-height: math.div(15, 14);
    font-weight: 700;
    margin-bottom: rem(10);
  }
  // .menu__submenu-item-second-text-desc
  &__submenu-item-second-text-desc {
    color: #5b5b5b;
    font-size: rem(12);
    line-height: math.div(14, 12);
  }
  &__link{
    font-weight: 700;
    @include adaptiveValue("font-size", 14, 13, 0, 1240, 991.98);
    line-height: math.div(15, 14);
    @media (max-width: $tablet) {
      font-size: rem(30);
      line-height: math.div(48, 30);
    }
  }
  // .menu__link
  &__link-wrap {
    color: #020202;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    @media (max-width: $tablet) {
      max-width: rem(290);
      justify-content: space-between;
    }
    @media (max-width: $mobile) {
      max-width: rem(350);
    }
    .menu-arrow {
      font-size: 10px;
      transform: rotate(90deg);
      
      @media (max-width: $tablet) {
        font-weight: 700;
        transform: rotate(0deg) !important;
        width: rem(33);
        height: rem(33);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        &::before {
          color: #006eff;
          font-size: rem(11);
        }
      }
    }
  }
  // .menu__icon
  &__icon {
  }
}
.active {
}
.icon-menu {
}

.submenu-open {
  display: flex;
  .page{
    background: rgba(2, 2, 2, 0.2);
mix-blend-mode: normal;
  }
}
#inzicht,
#duurzaam {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.2); /* Change the opacity as needed */
  z-index: 100;
}
//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(45);
    height: rem(45);
    cursor: pointer;
    z-index: 5;
    background: #006eff;
    border-radius: 50%;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 15px;
      position: absolute;
      width: rem(15);
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      top: 16px;
    }
    &::after {
      bottom: 15px;
    }
    span {
      top: 22px;
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
.menu-open {
  display: block;
  .menu__body {
    display: flex;
    flex-direction: column;
  }
}
.blue-theme {
  background-color: $blue-light;
  .header__logo-black {
    display: none;
  }
  .header__top {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  .header__top-first {
    display: none;
  }
  .header__top-block {
    justify-content: flex-end;
  }
  .icon-menu {
    background-color: #fff;
    span,
    &::before,
    &::after {
      background-color: #006eff;
    }
  }
  .header__top-second {
    ul {
      a {
        color: #fff;
        @media (max-width: $tablet) {
          color: #020202;
        }
        span {
          background: #ffffff;
          box-shadow: 0px 0px 4px #ffffff;
          @media (max-width: $tablet) {
            background: #006eff;
            box-shadow: 0px 0px 4px #0069ff;
          }
        }
      }
    }
  }
  .header__search {
    color: #fff;
    background: $blue-dark;
  }
  .header__contact-button {
    color: #fff;
    background: #020202;
  }
  .header__lang {
    background: $blue-dark;
    @media (max-width: $tablet) {
      background: none;
    }
    span {
      background-color: #fff;
      opacity: 0.1;
    }
    a {
      color: #a0a0a0;
      font-size: rem(12);
      line-height: math.div(14, 12);
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
          transition: all 0.3s ease 0s;
        }
      }
    }
    .active {
      font-weight: 700;
      color: #fff;
    }
  }
  .menu__link {
    color: #fff;
    @media (max-width: $tablet) {
      color: #020202;
    }
  }
  .header__top-text-title {
    color: #fff;
    &::before {
      color: #fff;
    }
  }
  // .header__top-text-desc
  .header__top-text-desc {
    color: #fff;
  }
  .menu__body {
    @media (max-width: $tablet) {
      top: 75px;
      height: calc(100% - 75px);
    }
  }
  .menu__submenu {
    @media (max-width: $tablet) {
      height: calc(100% - 75px);
      top: 75px;
    }
  }
  .header__search-icon {
    background-color: $blue-dark;
    color: #fff;
    @media (max-width: $tablet) {
      background-color: #f2f2f2;
      color: #000;
    }
  }
  .header__search-input {
    background-color: $blue-dark;
    color: #fff;
    @media (max-width: $tablet) {
      background-color: #f2f2f2;
      color: #000;
    }
    &::placeholder {
      color: #ffffff8c;
      @media (max-width: $tablet) {
        color: #5b5b5b;
      }
    }
  }
  .menu-arrow{
    color: #fff;
  }
}
.white-theme {
  background-color: #fff;
  .header__logo-white {
    display: none;
  }
}