//------------------------------------------------------------------------------------------------

.home-hero {
    
    // .home-hero__slider
    &__slider {
        @include adaptiveValue("padding-bottom", 115, 50);
        max-width: rem(1440);
        margin: 0 auto;
    }
    // .home-hero__wrapper
    &__wrapper {
    }
    // .home-hero__slide
    &__slide {
        
        display: flex;
        position: relative;
        @media (max-width:$mobile){
             flex-direction: column; 
        }
    }
    // .home-hero__slide-img
    &__slide-img {
        width: auto;
        /* height: 600px; */
        @include adaptiveValue("height", 600, 416);
        
        margin-left: auto;
        margin-right: 0;
        @media (max-width:$mobile){
             width: 100%;
             object-fit: cover; 
             min-height: 416px;
        }
    }
    // .home-hero__slide-circle
    &__slide-circle {
        position: absolute;
        top: 50%;
        left: -190px;
        @include adaptiveValue("left", -190, -370, 0, 1240, 768);
        background-color: #fff;
        z-index: 1;
        width: rem(782);
        height: rem(782);
        border-radius: 50%;
        transform: translateY(-50%);
        @media (max-width:$mobile){
             left: 50%;
             transform: translate(-50%,0%); 
             top: 350px;
             width: rem(915);
        height: rem(915);
        }
    }
    // .home-hero__container
    &__container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transform: translateX(-50%);
        @media (max-width:$mobile){
             position: relative; 
             align-items: center;
             gap: 20px;
        }
    }
    // .home-hero__slide-text
    &__slide-text {
        @include adaptiveValue("max-width", 420, 350, 0, 1240, 768);
        @media (max-width:$mobile){
            @include adaptiveValue("max-width", 500, 300, 0, 767.98, 375);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    // .home-hero__slide-text-title
    &__slide-text-title {
        font-weight: 700;
        @include adaptiveValue("font-size", 46, 30);
      @include adaptiveValue("line-height", 51, 33);
      @include adaptiveValue("margin-bottom", 20, 6);
    }
    // .home-hero__slide-text-desc
    &__slide-text-desc {
        @include adaptiveValue("font-size", 20, 14);
        @include adaptiveValue("line-height", 28, 20);
        @include adaptiveValue("margin-bottom", 36, 18);
    }
    // .home-hero__slide-text-button
    &__slide-text-button {
        padding: 14px 21px;
    }
    // .home-hero__slide-bottom
    &__slide-bottom {
        position: absolute;
        bottom: 0;
        right: 25px;
        background-color: #fff;
        box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.04);
padding: 30px 70px;
transform: translateY(50%);
display: flex;
align-items: center;
@include adaptiveValue("padding-left", 70, 30, 0, 1240, 768);
@include adaptiveValue("padding-right", 70, 30, 0, 1240, 768);
@include adaptiveValue("gap", 40, 20, 0, 1240, 768);
@media (max-width:$mobile){
    position: static;
    flex-direction: column;
    transform: translateY(0%);
    padding: 25px 30px;
}
    }
    // .home-hero__slide-bottom-title
    &__slide-bottom-title {
        font-weight: 700;
        font-size: rem(14);
    @include adaptiveValue("line-height", 17, 20);
    max-width: rem(120);
    @media (max-width:$mobile){
         max-width: rem(185);
         text-align: center; 
    }
    }
    // .home-hero__slide-bottom-items
    &__slide-bottom-items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        li{

            &:not(:last-child) {
                border-left: 1px solid rgba(0, 110, 255, 0.2);
                border-right: 1px solid rgba(0, 110, 255, 0.2);
                padding: 0 27px;
                @media (max-width:$mobileSmall){
                     padding: 0 10px; 
                }
            }
            &:first-child{
                padding: 0 27px 0 0;
                border: none;
                @media (max-width:$mobileSmall){
                    padding: 0 10px 0 0;
               }
            }
            &:last-child{
                padding: 0 0 0 27px;
                @media (max-width:$mobileSmall){
                    padding: 0 0 0 10px;
               }
            }
        }
    }

    // .home-hero__slide-bottom-number
    &__slide-bottom-number {
        font-weight: 700;
        font-size: rem(40);
        line-height: math.div( 40, 44);
        color: $blue-light;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
        margin-bottom: rem(8);
        span{
            font-weight: 400;
            font-size: rem(20);
            line-height: math.div(22 , 20);
        }
    }
    // .home-hero__slide-bottom-desc
    &__slide-bottom-desc {
        color: #5B5B5B;
        font-size: rem(12);
        line-height: math.div(14 , 12);
        max-width: rem(82);
text-align: center;
    }
    // .home-hero__slide-buttons
    &__slide-buttons {
        position: absolute;
        left: 25px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media (max-width:$mobile){
             display: none; 
        }
        svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 3px;
            stroke: $blue-light;
            fill: none;
            stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
          }
    }
    // .home-hero__slide-play
    &__slide-play {
        position: absolute;
        right: 0;
        top: 37px;
        background-color: #fff;
        padding: 12px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: rem(150);
        @media (min-width:$mobile){
            &.hovered{
                width: rem(61);
            transition: width 2s ease;
                .home-hero__slide-play-icon {
                    animation: roll 1s forwards;
                  }
                  .home-hero__slide-play-text{
                    display: none;
                  }
            } 
        }
        @media (max-width:$mobile){
        width: rem(80);
        padding: 5px;
        right: 50%;
        top: -100px;
        /* @include adaptiveValue("top", 100, -100, 0, 767.98, 375); */
        transform: translateX(50%);
        }
    }
    // .home-hero__slide-play-icon
    &__slide-play-icon {
        background-color: $blue-light;
        height: rem(37);
        width: rem(37);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
    left: 0;
    transition: transform 0.5s ease;
    @media (max-width:$mobile){
        height: rem(69);
        width: rem(69);
        filter: drop-shadow(0px 20px 24px rgba(0, 0, 0, 0.04));
    }
        img{
            height: rem(13);
        width: rem(13);
        @media (max-width:$mobile){
            height: rem(23);
            width: rem(23); 
        }
        }
    }
    // .home-hero__slide-play-text
    &__slide-play-text {
        font-weight: 700;
        font-size: rem(12);
        line-height: math.div(13 , 12);
        max-width: rem(75);
        @media (max-width:$mobile){
             display: none; 
        }
    }
    
}

  
  @keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 0;
    }
    100% {
      transform: rotate(360deg);
      left: calc(50% - 18.5px);
    }
  }
