//========================================================================================================================================================

.klantverhalen-hero {
  @include adaptiveValue("padding-top", 20, 95);
  padding-bottom: 160px;
  background-color: $blue-light;
  // .klantverhalen-hero__container
  &__container {
    display: flex;
    justify-content: center;
    @include adaptiveValue("gap", 50, 10, 0, 1240, 768);
    position: relative;
  }
  // .klantverhalen-hero__img-left
  &__img-left {
    img {
      position: absolute;
      @include adaptiveValue("width", 146, 71);
      top: 0;
      @include adaptiveValue("left", 125, 30, 0, 1240, 768);
      @media (max-width: $mobile) {
        @include adaptiveValue("top", 100, 135, 0, 767.98, 375);
      }
    }
  }
  // .klantverhalen-hero__img-right
  &__img-right {
    img {
      position: absolute;

      @include adaptiveValue("width", 233, 80);
      top: 0;
      @include adaptiveValue("right", 65, 0, 0, 1240, 768);
      @media (max-width: $mobile) {
        @include adaptiveValue("top", -70, -35, 0, 767.98, 375);
      }
    }
  }
  // .klantverhalen-hero__text
  &__text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: $mobile) {
      align-items: flex-start;
    }
  }
  // .klantverhalen-hero__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 110%;
    margin-bottom: rem(8);
  }
  // .klantverhalen-hero__title
  &__title {
    @include adaptiveValue("font-size", 36, 30);
    line-height: 110%;
    margin-bottom: 20px;
    font-weight: 700;
    max-width: rem(546);
    @media (max-width: $mobile) {
      @include adaptiveValue("max-width", 500, 290, 0, 767.98, 375);
      text-align: left;
    }
  }
  // .klantverhalen-hero__desc
  &__desc {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
    max-width: rem(546);
    @media (max-width: $mobile) {
      text-align: left;
      align-self: flex-end;
      max-width: unset;
      @include adaptiveValue("margin-left", 140, 115, 0, 767.98, 375);
    }
  }
  // .klantverhalen-hero__select-box
  &__select-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    margin-top: rem(38);
    @include adaptiveValue("gap", 40, 10, 0, 1240, 768);
    @media (max-width: $mobile) {
      flex-direction: column;
      width: 100%;
      @include adaptiveValue("margin-top", 130, 30, 0, 767.98, 375);
    }
  }
  // .klantverhalen-hero__select-block
  &__select-block {
    position: relative;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .klantverhalen-hero__select-button
  &__select-button {
    display: flex;
    flex-direction: row-reverse;
    padding: 11px 21px;
    background-color: #fff;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    font-size: rem(14);
    font-weight: 700;
    line-height: math.div(15, 14);
    @include adaptiveValue("gap", 20, 10, 0, 1240, 768);
    color: $blue-light;
    @media (max-width: $mobile) {
      width: 100%;
      justify-content: space-between;
      padding: 11px 41px;
    }
    &::before {
      transform: rotate(90deg);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
        color: #fff;
        transition: all 0.3s ease 0s;
      }
    }
    &.selected {
      background-color: #000;
      color: #fff;
      &::before {
        transform: rotate(270deg);
      }
    }
  }
  // .klantverhalen-hero__select-list
  &__select-list {
    position: absolute;
    top: 48px;
    width: rem(230);
    background-color: #fff;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    color: #000;
    padding: 20px 23px 0;
    z-index: 2;
    @media (max-width: $mobile) {
      position: static;
      margin-top: rem(11);
      width: 100%;
    }
    li {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: rem(20);
      &:last-child {
      }
      input {
        color: $blue-light;
        width: rem(16);
        height: rem(16);
        cursor: pointer;
      }
      label {
        color: #020202;
        font-size: rem(14);
        line-height: math.div(15, 14);
        cursor: pointer;
      }
    }
  }
  // .klantverhalen-hero__select-fiter
  &__select-fiter {
    border-top: 1px solid #c4c4c4;
    padding: 19px 21px 20px;
    width: 100%;
    font-weight: 700;
    color: $blue-light;
    font-size: rem(14);
    line-height: math.div(15, 14);
    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
}

//========================================================================================================================================================

.klantverhalen-stories {
  padding-bottom: 160px;
  // .klantverhalen-stories__container
  &__container {
    display: flex;
    flex-direction: column;
  }
  // .klantverhalen-stories__block
  &__block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -100px;
    z-index: 1;
    margin-bottom: rem(36);
    @media (max-width: $mobile) {
      margin-top: -70px;
      gap: 24px;
      margin-bottom: rem(55);
    }
  }
  // .klantverhalen-stories__item
  &__item {
    margin-bottom: rem(36);
    width: 48%;
    padding: 33px 30px;
    background-color: #fff;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.07);
    display: flex;
    gap: 36px;
    @include adaptiveValue("gap", 36, 20, 0, 1240, 768);
    align-items: center;
    @include adaptiveValue("padding-left", 36, 15, 0, 1240, 768);
    @include adaptiveValue("padding-right", 36, 15, 0, 1240, 768);
    @media (max-width: $mobile) {
      width: 100%;
      padding: 32px 10px 26px 30px;
      gap: 26px;
      margin-bottom: 0;
    }
    @media (any-hover: hover) {
      &:hover {
        .klantverhalen-stories__button {
          display: flex;
        }
      }
    }
  }
  // .klantverhalen-stories__img
  &__img {
    @include adaptiveValue("width", 151, 59);
  }
  // .klantverhalen-stories__text
  &__text {
  }
  // .klantverhalen-stories__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 110%;
    margin-bottom: rem(8);
  }
  // .klantverhalen-stories__desc
  &__desc {
    @include adaptiveValue("font-size", 14, 12);
    line-height: 160%;
    @include adaptiveValue("margin-bottom", 30, 8);
    @media (max-width: $mobileSmall) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  // .klantverhalen-stories__bottom
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .klantverhalen-stories__list
  &__list {
    display: flex;
    gap: 28px;
    @include adaptiveValue("gap", 28, 8, 0, 1240, 1200);
    @media (max-width: em(1200)) {
      flex-direction: column;
    }
    @media (max-width: $tablet) {
      display: none;
    }
    li {
      font-size: rem(12);
      line-height: 110%;
      font-weight: 700;
      color: $blue-light;
    }
  }
  // .klantverhalen-stories__button
  &__button {
    font-size: rem(12);
    line-height: 110%;
    font-weight: 700;
    display: none;
    gap: 4px;
    flex-direction: row-reverse;
    align-items: center;
    @media (max-width: $tablet) {
      display: flex;
      color: $blue-light;
    }

    &::before {
      font-size: rem(8);
    }
  }
  // .klantverhalen-stories__blue-button
  &__blue-button {
    padding: 14px 21px;
    align-self: center;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
