.offers-hero {
  @include adaptiveValue("padding-top", 120, 40);
  padding-bottom: rem(125);
  color: #fff;
  background-color: $blue-light;
  text-align: center;
  // .offers-hero__container
  &__container {
  }
  // .offers-hero__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 46, 30);
    line-height: 110%;
    margin-bottom: 20px;
  }
  // .offers-hero__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 22, 16);
    line-height: 160%;
    @media (max-width: $mobileSmall) {
      max-width: rem(215);
      margin: 0 auto;
    }
  }
}
//========================================================================================================================================================

.offers-solutions {
  @include adaptiveValue("margin-top", -60, -70);
  padding-bottom: 160px;
  .home-solutions__slider {
    padding: 0 10px 50px;
  }
}
//========================================================================================================================================================

.offers-steps {
  padding-bottom: 160px;
}
//========================================================================================================================================================
.offers-sectors {
  padding-bottom: 160px;
  // .offers-sectors__container
  &__container {
  }
  // .offers-sectors__box
  &__box {
    @include adaptiveValue("padding-top", 90, 45);
    @include adaptiveValue("padding-right", 85, 15);
    @include adaptiveValue("padding-bottom", 90, 50);
    @include adaptiveValue("padding-left", 85, 15);
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 80, 20, 0, 1240, 768);
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  // .offers-sectors__text
  &__text {
  }
  // .offers-sectors__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 22);
    line-height: 110%;
    margin-bottom: rem(20);
  }
  // .offers-sectors__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
  }
  // .offers-sectors__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    max-width: rem(570);
    li {
      a {
        display: flex;
        gap: 8px;
        align-items: center;
        @include adaptiveValue("padding", 14, 10);
        background-color: #fff;
        font-weight: 700;
        @include adaptiveValue("font-size", 15, 12);
        line-height: 110%;
        @media (any-hover: hover) {
          &:hover {
            background-color: $mainColor;
            color: #fff;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }
}

//========================================================================================================================================================

.offers-oplossingen {
  padding-bottom: 160px;
  // .offers-oplossingen__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("gap", 160, 20, 0, 1240, 768);
  }
  // .offers-oplossingen__left
  &__left {
    @include adaptiveValue("max-width", 470, 400, 0, 1240, 768);
    @media (max-width: $mobile) {
      max-width: unset;
    }
  }
  // .offers-oplossingen__left-title
  &__left-title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 22);
    line-height: 110%;
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  // .offers-oplossingen__left-list
  &__left-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    li {
      width: calc(50% - 10px);
      a {
        @include adaptiveValue("font-size", 18, 14);
        line-height: 110%;
        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }
  // .offers-oplossingen__right
  &__right {
    width: rem(400);
    background: #f2f2f2;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .offers-oplossingen__right-img
  &__right-img {
    img {
      width: 100%;
    }
  }
  // .offers-oplossingen__right-text
  &__right-text {
    padding: 30px;
  }
  // .offers-oplossingen__right-text-title
  &__right-text-title {
    @include adaptiveValue("font-size", 26, 16);
    line-height: 110%;
    font-weight: 700;
    margin-bottom: rem(20);
  }
  // .offers-oplossingen__right-text-desc
  &__right-text-desc {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 160%;
  }
}
//========================================================================================================================================================
.ons-aanbod {
  .ovner {
    @media (max-width: $mobile) {
      background-color: $blue-light !important;
    }
    .ovner__box {
      @media (max-width: $mobile) {
        background-color: $blue-light !important;
        border-bottom: none;
      }
    }
    .ovner__text-block {
      color: #fff !important;
    }
    .ovner__button {
      background-color: #141414 !important;
    }
    .ovner__contacts {
      display: none;
      @media (max-width: $mobile) {
        display: flex;
      }
    }
  }
}
